body {
  background-color: gray;
}
h3 {
  color: black;
    text-align: center;
  font-size: 80px;
  letter-spacing: 6px;
  text-shadow: 3px 7px 10px white;
  text-decoration-line: underline;
  text-decoration-color: white;
  padding: 100px;
}
img{
  border: white 3px;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
}
li{
  display:inline;
  padding: 15px;
  float:left;
 }
li:hover{
   background-color:red;
}
a{
  text-decoration:
}
